<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" style="margin-left: 1%">

    <div>
        <h1>Change Password</h1>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the user's old password</mat-label>
            <input matInput formControlName="oldPassword" type="password">
        </mat-form-field>
        <span class="validationError"
            *ngIf="oldPassword.errors?.['required'] && (oldPassword.dirty || oldPassword.touched)">
            Old password is required.
        </span>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the user's new password</mat-label>
            <input matInput formControlName="newPassword" type="password">
        </mat-form-field>
        <span class="validationError"
            *ngIf="newPassword.errors?.['required'] && (newPassword.dirty || newPassword.touched)">
            New password is required.
        </span>
        <span class="validationError"
            *ngIf="newPassword.errors?.['pattern'] && (newPassword.dirty || newPassword.touched)">
            The new password must contain 1 number, 1 lowercase letter, 1 uppercase letter and 1 special character and
            must be at least 8 characters long.
        </span>
        <span class="validationError" *ngIf="newPassword.errors?.['invalid']">
            The new password and the confirm new password fields must match.
        </span>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the user's confirmed new password</mat-label>
            <input matInput formControlName="confirmNewPassword" type="password">
        </mat-form-field>
        <span class="validationError"
            *ngIf="confirmNewPassword.errors?.['required'] && (confirmNewPassword.dirty || confirmNewPassword.touched)">
            Confirm new password is required.
        </span>
        <span class="validationError"
            *ngIf="confirmNewPassword.errors?.['pattern'] && (confirmNewPassword.dirty || confirmNewPassword.touched)">
            The confirm new password field must contain 1 number, 1 lowercase letter, 1 uppercase letter and 1 special
            character and must be at least 8 characters long.
        </span>
        <span class="validationError" *ngIf="confirmNewPassword.errors?.['invalid']">
            The new password and the confirm new password fields must match.
        </span>
    </div>

    <div>
        <button mat-stroked-button color="accent" type="submit">Change Password</button>
        <br>
        <br>
    </div>
    <div>
        <app-back-button></app-back-button>
    </div>
    <form>