<form [formGroup]="createCategoryForm" (ngSubmit)="createCategory()" style="margin-left: 1%">

    <div>
        <h1>Create Category</h1>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the category's name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <span class="validationError" *ngIf="name.errors?.['required'] && (name.dirty || name.touched)">
            Name is required.
        </span>
    </div>

    <div>
        <button mat-stroked-button color="accent" type="submit">Create</button>
        <br>
        <br>
    </div>
    <div>
        <app-back-button></app-back-button>
    </div>
<form>