<div *ngIf="!isIdInputHidden">
    <mat-form-field appearance="fill">
        <input matInput formControlName="id">
    </mat-form-field>
</div>

<div style="margin-left: 3%; margin-top: 3%;">
    <h1>Product</h1>
    <h2>Name: {{product.name}}</h2>
    <ng-container>
        <h2 *ngIf="product.quantity > 0">Quantity: {{product.quantity}}</h2>
        <h2 *ngIf="product.quantity == 0">Out of stock.</h2>
    </ng-container>
    <h2>Price: {{product.price}}$</h2>
    <div class="imageContainer"><img [src]="product.photo?.name" alt="No photo provided."></div>
    <h2>Category: {{product.category.name}}</h2>

    <ng-container matColumnDef="addToCartButton">
        <div>
            <div *ngIf="userRole === 'User'">
                <button mat-raised-button (click)="addToCart(product.id)"
                    *ngIf="product.quantity > 0 && !isProductAlreadyAdded" disabled="false">
                    Add To Cart
                </button>
                <button mat-raised-button (click)="addToCart(product.id)"
                    *ngIf="product.quantity === 0 || isProductAlreadyAdded" disabled="true">
                    Add To Cart
                </button>
            </div>
        </div>
    </ng-container>
</div>

<br>
<br>
<br>
<div>
    <h1 style="text-align: center;" *ngIf="product.reviews.length > 0">Reviews</h1>
    <h4 style="text-align: center;" *ngIf="product.reviews.length == 0">There are no reviews for this product.</h4>
    <mat-form-field appearance="fill">
        <mat-label>Search review by comment or user</mat-label>
        <input type="text" #input matInput placeholder="Search" (keyup)="search(input.value)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <br>
    <app-create-review [productID]="product.id" *ngIf="userRole === 'User'"></app-create-review>
    <table mat-table matSort [dataSource]="product.reviews" class="mat-elevation-z8" (matSortChange)="sortData($event)">
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let review">
                <ng-container>
                    {{review.user.name}}
                    <br>
                    ({{review.user.email}})
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="rating">Rating</th>
            <td mat-cell *matCellDef="let review">
                <ngb-rating [max]="5" [readonly]="true" [(rate)]="review.rating">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" [class.bad]="index <= 5">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="comment">Comment</th>
            <td mat-cell *matCellDef="let review">{{review.comment}}</td>
        </ng-container>

        <ng-container matColumnDef="updateButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let review">
                <div>
                    <app-update-review *ngIf="userRole === 'User' && userId === review.user.id" [id]="review.id"
                        [productID]="product.id">
                    </app-update-review>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="deleteButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let review">
                <div>
                    <app-delete-review [id]="review.id" *ngIf="userRole === 'User' && userId === review.user.id">
                    </app-delete-review>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</div>

<br>
<br>
<div>
    <app-back-button style="margin-left: 1%;"></app-back-button>
</div>
<mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePage($event)" aria-label="Select page" *ngIf="product.reviews.length > 0">
</mat-paginator>