<form [formGroup]="deleteCategoryForm" (ngSubmit)="deleteCategory()">
    <h1>Are you sure you want to delete this category?</h1>
    <div *ngIf="!isIdInputHidden">
        <mat-form-field appearance="fill">
            <input matInput formControlName="id">
        </mat-form-field>
    </div>

    <ng-container>
        <h2>Name: {{category.name}}</h2>
    </ng-container>

    <div>
        <button mat-stroked-button color="accent" type="submit">Delete</button>
        <br>
        <br>
    </div>

    <div>
        <app-back-button></app-back-button>
    </div>

</form>