<div>
    <h1>Categories</h1>
    <button mat-raised-button [routerLink]="'/category/create'" *ngIf="userRole === 'Administrator'"
        style="margin-left: 1%;">
        Create Category
    </button>
    <br *ngIf="userRole === 'Administrator'">
    <br *ngIf="userRole === 'Administrator'">
</div>

<mat-form-field appearance="fill">
    <mat-label>Search category by name</mat-label>
    <input type="text" #input matInput placeholder="Search" (keyup)="search(input.value)">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<table mat-table matSort [dataSource]="categories" (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
        <td mat-cell *matCellDef="let category">{{category.name}}</td>
    </ng-container>

    <ng-container matColumnDef="updateButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let category">
            <div>
                <button mat-raised-button [routerLink]="'/category/update/' + category.id"
                    *ngIf="userRole === 'Administrator'">Update Category</button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let category">
            <div>
                <app-delete-category [id]="category.id" *ngIf="userRole === 'Administrator'"></app-delete-category>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePage($event)" aria-label="Select page">
</mat-paginator>