<form [formGroup]="approveReturnOfOrderForm" (ngSubmit)="approveReturnOfOrder()">
    <h2 mat-dialog-title>Approve return of order</h2>
    <h3>Are you sure you want to approve the return of this order on the given address?</h3>
    <mat-dialog-content class="mat-typography">
        <div>
            <mat-form-field appearance="fill" *ngIf="!isIdInputHidden">
                <input matInput formControlName="id">
            </mat-form-field>
        </div>

        <div>
            <ng-container>
                {{order.address}}
            </ng-container>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
        <button mat-stroked-button color="accent" type="submit">Approve Return</button>
    </mat-dialog-actions>
</form>