<form [formGroup]="updateReviewForm" (ngSubmit)="updateReview()">
    <h2 mat-dialog-title>Update review</h2>
    <mat-dialog-content class="mat-typography">
        <div>
            <mat-form-field appearance="fill" *ngIf="!isIdInputHidden">
                <input matInput formControlName="id">
            </mat-form-field>
        </div>

        <div>
            <mat-label>Enter the review's rating</mat-label>
            <br>
            <br>
            <ngb-rating [max]="5" [readonly]="false" formControlName="rating" matInput>
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index <= 5">&#9733;</span>
                </ng-template>
            </ngb-rating>
            <br>
            <span class="validationError" *ngIf="rating.errors?.['required'] && (rating.dirty || rating.touched)">
                Rating is required.
            </span>
        </div>
        <br>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter the review's comment</mat-label>
                <input matInput formControlName="comment">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" *ngIf="!isIdInputHidden">
                <input matInput formControlName="productID">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-stroked-button color="accent" type="submit">Update</button>
    </mat-dialog-actions>
</form>