<form [formGroup]="forgottenPasswordForm" (ngSubmit)="forgottenPassword()" style="margin-left: 1%">

    <div>
        <h1>Forgotten Password</h1>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the user's email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <span class="validationError" *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
            Email is required.
        </span>
        <span class="validationError" *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
            The entered email should be a valid email address.
        </span>
    </div>

    <div>
        <button mat-stroked-button color="accent" type="submit">Submit</button>
        <br>
        <br>
    </div>
    <div>
        <app-back-button></app-back-button>
    </div>
    <form>