<form [formGroup]="finishOrderForm" (ngSubmit)="finishOrder()">
    <h2 mat-dialog-title>Finish order</h2>
    <h3>Are you sure you want to finish this order?</h3>
    <mat-dialog-content class="mat-typography">
        <div>
            <mat-form-field appearance="fill" *ngIf="!isIdInputHidden">
                <input matInput formControlName="id">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-stroked-button color="accent" type="submit">Finish</button>
    </mat-dialog-actions>
</form>