<div>
    <h1>Products</h1>
    <button mat-raised-button [routerLink]="'/product/create'" *ngIf="userRole === 'Administrator'"
        style="margin-left: 1%;">
        Create Product
    </button>
    <br *ngIf="userRole === 'Administrator'">
    <br *ngIf="userRole === 'Administrator'">
</div>

<mat-form-field appearance="fill">
    <mat-label>Search user by name, category or price</mat-label>
    <input type="text" #input matInput placeholder="Search" (keyup)="search(input.value)">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<table mat-table matSort [dataSource]="products" (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let product">
            <a mat-list-item [routerLink]="'/product/getById/' + product.id">{{product.name}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let product">
            <ng-container *ngIf="product.quantity > 0">{{product.quantity}}</ng-container>
            <ng-container *ngIf="product.quantity == 0">Out of stock.</ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef style="margin-left: 15%" mat-sort-header="price">Price</th>
        <td mat-cell *matCellDef="let product">{{product.price}}$</td>
    </ng-container>

    <ng-container matColumnDef="imagePath">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let product">
            <a mat-list-item [routerLink]="'/product/getById/' + product.id" *ngIf="product.photo"><img
                    src={{product.photo.name}}>
            </a>
            <a mat-list-item [routerLink]="'/product/getById/' + product.id" *ngIf="!product.photo">No photo
                provided</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let product">{{product.category.name}}</td>
    </ng-container>

    <ng-container matColumnDef="reviewCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="reviews">Reviews</th>
        <td mat-cell *matCellDef="let product">{{product.reviews.length}}</td>
    </ng-container>

    <ng-container matColumnDef="updateButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product">
            <div>
                <button mat-raised-button [routerLink]="'/product/update/' + product.id"
                    *ngIf="userRole === 'Administrator'">Update Product</button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product">
            <div>
                <button mat-raised-button [routerLink]="'/product/delete/' + product.id"
                    *ngIf="userRole === 'Administrator'">Delete Product</button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePage($event)" aria-label="Select page">
</mat-paginator>